<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	My Video
	<div id = 'frameImage'>
		<video id = 'localStream' width="300" controls=""></video>
	</div>

</body>
<script src="/javascripts/bundle.js">
</script>
</html>