<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	My Video
	<div id = 'frameImage'>
		<video id = 'localStream' width="300" controls=""></video>
		<br>
		<video id = 'friendStream' width="300" controls=""></video>
		<br>
		<textarea rows="3" cols="100" id="txtMySignal"></textarea>
		<br>
		<input width="100" type="text" id="txtSendToken">
		<button id="btnSend">Send Token</button>
	</div>

</body>
<script src="./javascripts/bundle.js">
</script>
</html>